name : Matrix demo
on: push
jobs:
  build:
    strategy:
        matrix:
            node-version: [12,14,16]
            os: [ubuntu-latest, windows-latest]
    runs-on: ยง{{matrix.os}}
    steps:
        - name: Get Code
          uses: actions/checkout@v4
        - name: Install NodeJS
          uses: actions/setup-node@v4
          with:
            node-version: ${{matrix.node-version}}
        - name: Install dependencies
          run: npm ci
        - name: Build Project
          run : npm run build