name: reusable Deploy
on: 
  workflow_call:
    inputs:
        artifact-name:
            description: The name of the deployable artifact files
            required: false
            default: dist
            type: string
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
          - name: Get Code
            uses: actions/checkout@v4
          - name: Downlaod Code
            uses: actions/download-artifact@v4
            with:
                 name: ${{inputs.artifact-name}}
          - name: List files:
            run: ls
          - name: Install NodeJS
            uses: actions/setup-node@v4
            with:
              node-version: ${{matrix.node-version}}
          - name: Install dependencies
            run: npm ci
          - name: Build Project
            run : npm run build